<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static "css/movie.css"%}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <h1>Movies</h1>
      <p>some phew moies</p>
      <a class="btn btn-primary btn-lg" href="/addmovie" role='button'>Add Movie</a>
      <a class="btn btn-primary btn-lg" href="/listmovie" role='button'>list Movie</a>


    </div>
  </body>
</html>
